<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  {{>header}}
  <h3>{{city}}</h3>
  <p>{{forecastOverall}}</p>
  <p>{{forecastDetails}}</p>
  {{>footer}}
</body>
<script src="js/app.js"></script>
</html>